<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Проект</title>
  </head>
  <body>
    {{>header}}

    <p>Страница проекта. Текст будет позднее</p>

    {{> footer}}
  </body>
</html>
